@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "americana";
  src: url("/assets/fonts/americana/Americana-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "americana";
  src: url("/assets/fonts/americana/AmericanaStd-Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "trash";
  src: url("/assets/fonts/trashplus/trashplusbold_italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "trash";
  src: url("/assets/fonts/trashplus/trashplusbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
